USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployeeWithJob]    Script Date: 2/15/2026 3:46:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEmployeeWithJob]
    @EmployeeId INT,
    @Name NVARCHAR(100),
    @Address NVARCHAR(250),
    @GenderId TINYINT,
    @DepartmentId TINYINT,
    @JobTitle NVARCHAR(100),
    @Salary DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE Employees
        SET
            Name = @Name,
            Address = @Address,
            GenderId = @GenderId
        WHERE 
			EmployeeId = @EmployeeId;

        UPDATE EmployeeJobs
        SET
            DepartmentId = @DepartmentId,
            JobTitle = @JobTitle,
            Salary = @Salary
        WHERE EmployeeId = @EmployeeId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
