USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[GetTotalEmployeeSalaries]    Script Date: 2/15/2026 3:46:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalEmployeeSalaries]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ISNULL(SUM(Salary), 0) AS TotalSalary
    FROM 
        EmployeeJobs;
END;
GO
