USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[CreateEmployeeWithJob]    Script Date: 2/15/2026 3:46:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateEmployeeWithJob]
    @Name NVARCHAR(100),
    @Address NVARCHAR(250),
    @GenderId TINYINT,
    @DepartmentId TINYINT,
    @JobTitle NVARCHAR(100),
    @Salary DECIMAL(12,2)
AS
BEGIN
	-- Without it, SQL Server sends messages like:
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO 
			Employees(Name, Address, GenderId)
        VALUES 
			(@Name, @Address, @GenderId);

        DECLARE @EmployeeId INT = SCOPE_IDENTITY();

        INSERT INTO 
			EmployeeJobs (EmployeeId, DepartmentId, JobTitle, Salary)
        VALUES 
			(@EmployeeId, @DepartmentId, @JobTitle, @Salary);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
