USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeesWithJobs]    Script Date: 2/15/2026 3:46:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEmployeesWithJobs]
AS
BEGIN
    SELECT
        e.EmployeeId,
        e.Name,
        e.Address,
		g.GenderId as GenderId,
        g.GenderName as GenderName,
		d.DepartmentId as DepartmentId,
        d.DepartmentName as DepartmentName,
        j.JobTitle,
        j.Salary
    FROM 
		Employees e
    INNER JOIN 
		Genders g ON e.GenderId = g.GenderId
    INNER JOIN 
		EmployeeJobs j ON e.EmployeeId = j.EmployeeId
    INNER JOIN 
		Departments d ON j.DepartmentId = d.DepartmentId;
END;
GO
