USE [EmployeeManagement]
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 2/15/2026 3:46:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEmployee]
    @EmployeeId INT
AS
BEGIN
    DELETE FROM 
		Employees
    WHERE 
		EmployeeId = @EmployeeId;
END;
GO
