.navbar {
  background-color: #1e293b;
  padding: 15px 30px;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}

.active {
  border-bottom: 2px solid #38bdf8;
}
